oktaDomain=INSERT_OKTA_DOMAIN
clientId=INSERT_OKTA_CLIENT_ID
signInRedirectUri=INSERT_SIGN_IN_REDIRECT_URL
signOutRedirectUri=INSERT_SIGN_OUT_REDIRECT_URL
oktaState=INSERT_OKTA_STATE
codeChallenge=INSERT_YOUR_CODE_CHALLENGE
codeChallengeMethod=INSERT_YOUR_CODE_CHALLENGE_METHOD
codeVerifier=INSERT_YOUR_CODE_VERIFIER